<ion-content [style.background-image]="'url(' + emailuser.backgroundImageName + ')'" class="background">
 <ion-card>
   <ion-card-header>
     <img src="{{emailuser.userProfileName}}" class="user">
     <div class="loginform">Login Form</div>
   </ion-card-header>
   <ion-card-content>
     <form name="form" #loginForm="ngForm">
       <p *ngIf="errorMessage" style="color: #f5457d;text-align: center;font-size: medium;font-family: initial;font-weight: bold;">{{errorMessage}}</p>
       <p *ngIf="successMessage" style="color: #84BF41;text-align: center;font-size: medium;font-family: initial;font-weight: bold;">{{successMessage}}</p>
     <ion-list no-lines>
       <ion-item>
         <ion-input type="text" id="loginemail" [(ngModel)]="login.email"  name="loginemail" required="required" #loginemail="ngModel" pattern="^[A-Z0-9a-z\\._%+-]+@([A-Za-z0-9-]+\\.)+[A-Za-z]{2,4}$" class="form-control" placeholder="Email *" (change)="emailcheck(login.email)"></ion-input>
       </ion-item>
       <div *ngIf="loginemail.errors && (loginemail.dirty || loginemail.touched)" style="color: #ffe004 !important;font-weight: bold;float: left;font-size: 13px;">
         <div [hidden]="!loginemail.errors.required">
           Email is required!
         </div>
         <div [hidden]="!loginemail.errors.pattern">
           Must be a valid Email!
         </div>
       </div>
       <ion-item>
         <ion-input type="password" id="loginpassword" [(ngModel)]="login.password"  name="loginpassword" required="required" #loginpassword="ngModel" minlength="5" maxlength="12" class="form-control" placeholder="Password *"></ion-input>
       </ion-item>
       <div *ngIf="loginpassword.errors && (loginpassword.dirty || loginpassword.touched)" style="color: #ffe004 !important;font-weight: bold;float: left;font-size: 13px;">
         <div [hidden]="!loginpassword.errors.required">
           Password is required!
         </div>
         <div [hidden]="!loginpassword.errors.minlength">
           Password must be at least 5 characters long.
         </div>
         <div [hidden]="!loginpassword.errors.maxlength">
           Password cannot be more than 12 characters long.
         </div>
       </div>
     </ion-list>
       <button ion-button block outline color="light" type="submit" (click)="userLogin(login)" [disabled]="!loginForm.form.valid">Log in <i class="icon-arrow-right14 position-right"></i></button>
       <a href="javascript:void(0)" (click)="forgotpasswordPage()" style="text-decoration: none;">Forgot your login detail? <b>Get help Log in</b></a>
     </form>
     <p>OR</p>
     <button ion-button block color="facebook"  (click)="signInWithFB()">
       <ion-icon name="logo-facebook"></ion-icon> Login with facebook
     </button>
     <button ion-button block color="googleplus"  (click)="signInWithGoogle()">
       <ion-icon name="logo-googleplus"></ion-icon> Login with Google
     </button>
     <button ion-button  clear full color="light" class="bottom" (click)="signupPage()">Don't gave an account? Sign up</button>
   </ion-card-content>
 </ion-card>

</ion-content>
