page-dashboard {

  .panel {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border: 1px solid transparent;
    border-radius: 3px;
  }

  .text-center {
    text-align: center;
  }

  .bg-teal-400 {
    background-color: #26a69a;
    border-color: #26a69a;
    color: #fff;
  }

  .bg-blue-400 {
    background-color: #29b6f6;
    border-color: #29b6f6;
    color: #fff;
  }

  .bg-danger-400 {
    background-color: #ef5350;
    border-color: #ef5350;
    color: #fff;
  }

  .bg-indigo-400 {
    background-color: #5c6bc0;
    border-color: #5c6bc0;
    color: #fff;
  }

  .panel.has-bg-image {
    background-image: url(../assets/imgs/backgrounds/panel_bg.png);
  }

  .panel-body {
    position: relative;
    padding: 20px;
  }

  .text-semibold {
    font-weight: 500!important;
  }

  .no-margin-bottom {
    margin-bottom: 0 !important;
  }
  .mt-5 {
    margin-top: 5px !important;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    letter-spacing: -.015em!important;
    font-family: inherit!important;
    font-weight: 400!important;
    line-height: 1.5384616!important;
    color: inherit!important;
  }

  h6 {
    display: block!important;
    font-size: 15px!important;
    -webkit-margin-before: 2.33em!important;
    -webkit-margin-after: 2.33em!important;
    -webkit-margin-start: 0px!important;
    -webkit-margin-end: 0px!important;
  }

  .panel[class*=bg-] .panel-body+.panel-body, .panel[class*=bg-] .panel-body+.table, .panel[class*=bg-] .panel-body+.table-responsive, .panel[class*=bg-] .panel-body.has-top-border {
    border-top-color: rgba(255,255,255,.5);
  }

  .panel[class*=bg-] .panel-body-accent {
    background-color: rgba(0,0,0,.1);
  }

  .panel-body+.panel-body, .panel-body+.table, .panel-body+.table-responsive, .panel-body.has-top-border {
    border-top: 1px solid #ddd;
  }

  .pb-15 {
    padding-bottom: 15px !important;
  }


  .col-xs-3 {
    width: 25%;
  }

  .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .panel[class*=bg-] .help-block, .panel[class*=bg-] .help-inline, .panel[class*=bg-] .text-muted {
    color: rgba(255,255,255,.8);
  }

  .text-size-mini {
    font-size: 11px;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .no-margin {
    margin: 0 !important;
  }


  .h5, h5 {
    font-size: 17px!important;
  }





  .scroll-content {
    background-color: map-get($colors, light);
  }

  ion-card-header {
    font-weight: bold;
  }

  /*
	Generic Styling, for Desktops/Laptops
	*/
  table {
    width: 100%;
    border-collapse: collapse;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }
  th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }


  /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
  @media
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #b6e0b7;
      position: relative;
    }

    td:before {
      /* Now like a table header */
      position: relative;
      /* Top/left values mimic padding */
      top: 0px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
        Label the data
        */
    td:nth-of-type(1) { font-weight:bold;}
    td:nth-of-type(1):before { content: "Category:"; }
    td:nth-of-type(2) { font-weight:bold;}
    td:nth-of-type(2):before { content: "Transaction Date:"; }
    td:nth-of-type(3) { font-weight:bold;}
    td:nth-of-type(3):before { content: "Credit:"; }
    td:nth-of-type(4) { font-weight:bold;}
    td:nth-of-type(4):before { content: "Debit:"; }
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    body {
      padding: 0;
      margin: 0;
      width: 320px; }
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
      width: 495px;
    }
  }


}
